$vue-color: #42b983;
$primary-color: red;

// example map variable
$alert: (
  // 'key': 'value
    'warning': orange,
    'success': green,
    'primary': white
);

$social-color: (
  'youtube': red,
  'facebook': blue,
  'twitter': skyblue,
  'instagram': brown,
  'twitch': violet,
)